# Puerto del servidor
PORT=3000

# Dialecto de la base de datos: mysql | postgres | sqlite
DB_DIALECT=sqlite

# Configuración para MySQL / PostgreSQL
DB_HOST=localhost
DB_PORT=3306
DB_NAME=mvc_sequelize
DB_USER=root
DB_PASSWORD=

# Archivo SQLite (solo cuando DB_DIALECT=sqlite)
DB_STORAGE=./database.sqlite
